<%= simple_form_for @game, html: {class: "form-horizontal" }, wrapper: :horizontal_form do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-xs-3">
    <%= f.input :name %>
  </div>
  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
